<ul class="users">
  <button id="addUserButton">Add User</button>
  <li *ngFor="let user of this.users" [class.selected]="user === selectedUser">
    <span class="badge">{{user.id}}</span>
    <p class="names">{{user.firstName}}</p>
    <button class="editButton" (click)="editClicked(user)"><img src="https://cdn3.iconfinder.com/data/icons/edition/100/pen_paper_2-512.png" style="height:20px;width:20px;"></button>
    <button class="deleteButton" (click)="deleteClicked(user)"><img src="https://image.flaticon.com/icons/png/128/61/61391.png" style="height:20px;width:20px;"></button>
  </li>
</ul>

<div class="editUser" *ngIf="selectedUser">
  <h5>Account edit: {{selectedUser.firstName}} </h5>
  <div class="editLabel"><label>Id: </label>{{selectedUser.id}}</div>
  <div class="editLabel">
    <label>First Name: </label>
    <input type="text" #firstNameInput [ngModel]="selectedUser.firstName" placeholder="selectedUser.firstName" placeholder=""/>
    <br/>
    <label>Last Name: </label>
    <input type="text" #lastNameInput [ngModel]="selectedUser.lastName" placeholder="selectedUser.lastName" placeholder=""/>
    <br/>
    <label>Password: </label>
    <input type="text" #passwordInput [ngModel]="selectedUser.password" placeholder="selectedUser.password" placeholder=""/>
    <br/>
    <label>E-mail: </label>
    <input type="email" #emailInput [ngModel]="selectedUser.email" placeholder="selectedUser.email" placeholder=""/>
    <br/>
    <label>Phone number: </label>
    <input type="text" #PhoneNumberInput [ngModel]="selectedUser.phoneNumber" placeholder="selectedUser.phoneNumber" placeholder=""/>
 </div>

 <div class="options">
   <button class="optionButton" (click)="saveClicked(selectedUser,firstNameInput.value)">Save</button>
   <button class="optionButton" (click)="cancelClicked()">Cancel</button>
 </div>
</div>
