<html>
<body>


<h2>Add Locations</h2>

<form submit="addLocation()">
    UserName:<input type="text" [(ngModel)]="newUser">
    Location:<input type="text" [(ngModel)]="newLocation">
    <input type="submit" value="Add">
</form>



<table>
  <tr>
    <th>Username</th>
    <th>Location</th>
    <th>Delete location</th>
  </tr>

  <tr>
    <th><form submit="editUsername()">
      <input type="text" value="Dan">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th><form submit="editLocation()">
      <input type="text" value="Paris">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th>
      <button (click)="deleteLocation(users.text)">X</button>
    </th>
  </tr>

  <tr>
  <th><form submit="editLocation()">
    <input type="text" value={{users.text}}>
    <input type="submit" value="✓" >
  </form>
  </th>
  <th><form submit="editLocation()">
    <input type="text" value={{locations.text}}>
    <input type="submit" value="✓">
  </form>
  </th>
  <th>
    <button (click)="deleteLocation(users.text)">X</button>
  </th>
</tr>



</table>

</body>
</html>
