<div class="login-page">
	<div class="imgcontainer">
			<img src="https://image.ibb.co/ecs9OF/avatar1.jpg" alt="Avatar" class="avatar"/>
	</div>
  <div class="form">
    <form class="login-form"  name="myForm"  role = "form">
      <input name="username" type="text" placeholder="Username" [(ngModel)]="username" required/>
      <input name="password" type="password" placeholder="Password" required [(ngModel)]="pass"/>
      <button (click)="login()">login</button>
    </form>
       <p class="message">Not registered? <a href="/register">Create an account</a></p>
  </div>
</div>
