<div class="register-page" >
	<div class="imgcontainer">
			<img src="https://image.ibb.co/ecs9OF/avatar1.jpg" alt="Avatar" class="avatar"/>
		</div>

	<div class="form">
		<form class="register-form"  name="myForm"  role = "form" method="post">
    	<input [(ngModel)]="firstName" type="text" name="firstname" maxlength="15" placeholder="First Name" required>
			<input [(ngModel)]="lastName" type="text" name="lastname" placeholder="Last Name" required>
    	<input [(ngModel)]="userName" type="text" name="username" maxlength="20" placeholder="Username" required>
    	<input [(ngModel)]="password" type="password" name="Password" placeholder="Password" required>
    	<input [(ngModel)]="reapeatedPassword" type="password" name="repeatedpassword" placeholder="Repeat Password" required>
    	<input [(ngModel)]="email" type="email" name="Email" placeholder="email" required>
    	<input [(ngModel)]="phoneNumber" type="number" name="phone_number" placeholder="Phone Number" required>
    	<button (click)="register()">Register</button>
		</form>
	</div>
</div>
