<div id="div2">
	<form id="formId" method="post">
    	ID:<br/>
    	<input id="inputTextToSave" type="number" class="campuri" name="ID" maxlength="15" placeholder="Ex: 1342 " required>
    	<br/>
    	First Name:<br/>
    	<input id="inputTextToSave1" type="text" class="campuri" name="First Name" maxlength="15" placeholder="Ex: Mihai..." required>
    	<br/>
    	Last Name:<br/>
    	<input id="inputTextToSave2" type="text" class="campuri" name="Last Name" placeholder="Ex: Popescu ..." required>
    	<br/>
    	User Name:<br/>
    	<input id="inputTextToSave3" type="text" class="campuri" name="User_name" maxlength="20" placeholder="Ex: Popescu.Mihai" required>
    	<br/>
    	Password:<br/>
    	<input id="inputTextToSave4" type="password" class="campuri" name="Password" placeholder="Ex: 12345678 " required>
    	<br/>
    	Repeat Password:<br/>
    	<input id="inputTextToSave5" type="password" class="campuri" name="Repeat Password:" placeholder="Ex: 12345678 " required>
    	<br/>
    	Email:<br/>
    	<input id="inputTextToSave6" type="email" class="campuri" name="Email" placeholder="Ex: Pop.Mihai@gmail.com" required>
    	<br/>
    	Phone:<br/>
    	<input id="inputTextToSave7" type="number" class="campuri" name="Phone Number" placeholder="Ex: 0766676870" required>
    	<br/>
      <br/>
    	<button type="submit" class="button" onclick="">Register</button>
	</form>
</div>
