<div class="register-page" >
	<div class="imgcontainer">
			<img src="https://image.ibb.co/ecs9OF/avatar1.jpg" alt="Avatar" class="avatar"/>
		</div>

	<div class="form">
		<form class="register-form"  name="myForm"  role = "form" method="post">
    	<input id="firstName" type="text" name="First Name" maxlength="15" placeholder="First Name" required>
    	<input id="lastName" type="text" name="Last Name" placeholder="Last Name" required>
    	<input id="userName" type="text" name="Username" maxlength="20" placeholder="Username" required>
    	<input id="password" type="password" name="Password" placeholder="Password" required>
    	<input id="reapeatPassword" type="password" name="Repeat Password" placeholder="Repeat Password" required>
    	<input id="email" type="email" name="Email" placeholder="Email" required>
    	<input id="phoneNumber" type="number" name="Phone Number" placeholder="Phone Number" required>
    	<button type="submit" class="button">Register</button>
		</form>
	</div>
</div>
