<html>
  <body>

    <div class="container ">
      <form id="signin" class="form-group row" role="form">
        <h1> Add Locations </h1>
        <div class="input-group input-group-lg ">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="id" type="id" class="form-control " [(ngModel)]="id" value="" placeholder="User ID">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
          <input id="alias" type="alias" class="form-control" [(ngModel)]="alias" value="" placeholder="Alias">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
          <input id="latitude" type="latitude" class="form-control" [(ngModel)]="latitude" value="" placeholder="Latitude">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
          <input id="longitude" type="longitude" class="form-control" [(ngModel)]="longitude" value="" placeholder="Longitude">
        </div>
        <div style="text-align:center;">
          <button type="submit" class="btn btn-primary btn-lg" style="background-color:#aeeaae;color:black"> Add Location</button>
        </div>
      </form>
    </div>

    <div class="container">
      <form id="signin" class="form-group row" role="form">
        <h1> Get or Delete Locations </h1>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="id" type="id" class="form-control" [(ngModel)]="id" value="" placeholder="User ID">
        </div>
        <div style="text-align:center;">
          <button type="submit" class="btn btn-primary btn-lg" style="background-color:#aeeaae;color:black">  Get Locations</button>
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="id" type="id" class="form-control" [(ngModel)]="id" value="" placeholder="User ID">
        </div>
        <div style="text-align:center;">
          <button type="submit" class="btn btn-primary btn-lg" style="background-color:#aeeaae;color:black">  Delete UserID</button>
        </div>
      </form>
    </div>

  </body>
</html>

<!--<table>
  <tr>
    <th>Username</th>
    <th>Location</th>
    <th>Delete location</th>
  </tr>

  <tr>
    <th><form submit="editUsername()">
      <input type="text" value="Dan">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th><form submit="editLocation()">
      <input type="text" value="Paris">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th>
      <button (click)="deleteLocation(users.text)">X</button>
    </th>
  </tr>

  <tr>
  <th><form submit="editLocation()">
    <input type="text" value={{users.text}}>
    <input type="submit" value="✓" >
  </form>
  </th>
  <th><form submit="editLocation()">
    <input type="text" value={{locations.text}}>
    <input type="submit" value="✓">
  </form>
  </th>
  <th>
    <button (click)="deleteLocation(users.text)">X</button>
  </th>
</tr>
</table>-->
