<html>
<body>


<h2>Add Locations</h2>
  <h3> Add location: </h3>
    UserID:<input type="text" [(ngModel)]="userId">
    Latitude:<input type="text" [(ngModel)]="latitude">
    Longitude:<input type="text" [(ngModel)]="longitude">
    Alias:<input type="text" [(ngModel)]="alias">
    <input type="submit" value="Add" (click)="addLocation()">
  <br>
  <h3> Get locations: </h3>
    UserID: <input type="text" [(ngModel)]="getUserId">
    <input type="submit" value="Get" (click)="getLocations()">
    <ul class="list-group">
    <li *ngFor="let location of locations">
      <ol class="list-group">
        <li class="list-group-item justify-content-between">
          Id : <b>{{location.id}}</b>
        </li>
        <li class="list-group-item justify-content-between">
          User Id : <b>{{location.userId}}</b>
        </li>
        <li class="list-group-item justify-content-between">
          Latitude : <b>{{location.latitude}}</b>
        </li>
        <li class="list-group-item justify-content-between">
          Longitude : <b>{{location.longitude}}</b>
        </li>
        <li class="list-group-item justify-content-between">
          Alias : <b>{{location.alias}}</b>
        </li>
      </ol>
    </li>
</ul>
  <h3> Delete locations: </h3>
    UserID: <input type="text" [(ngModel)]="deleteUserId">
    <input type="submit" value="Delete" (click)="deleteLocations()">


<!--<table>
  <tr>
    <th>Username</th>
    <th>Location</th>
    <th>Delete location</th>
  </tr>

  <tr>
    <th><form submit="editUsername()">
      <input type="text" value="Dan">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th><form submit="editLocation()">
      <input type="text" value="Paris">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th>
      <button (click)="deleteLocation(users.text)">X</button>
    </th>
  </tr>

  <tr>
  <th><form submit="editLocation()">
    <input type="text" value={{users.text}}>
    <input type="submit" value="✓" >
  </form>
  </th>
  <th><form submit="editLocation()">
    <input type="text" value={{locations.text}}>
    <input type="submit" value="✓">
  </form>
  </th>
  <th>
    <button (click)="deleteLocation(users.text)">X</button>
  </th>
</tr>
</table>-->

</body>
</html>
