<div class="container ">
  <form id="signin" class="form-group row" role="form" name="locations-form">
    <h1> Add Locations </h1>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
      <input id="alias" name="alias" class="form-control" [(ngModel)]="alias" value="" placeholder="Alias">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
      <input id="latitude" name="latitude" class="form-control" [(ngModel)]="latitude" value="" placeholder="Latitude">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
      <input id="longitude" name="longitude" class="form-control" [(ngModel)]="longitude" value="" placeholder="Longitude">
    </div>
    <div style="text-align:center;">
      <button (click)="addLocation()" type="submit" class="btn btn-primary btn-lg" style="background-color:#aeeaae;color:black"> Add Location</button>
    </div>
  </form>
</div>

<!--<div class="container">
  <form id="signin" class="form-group row" role="form">
    <h1> Get Locations </h1>
    <div style="text-align:center;">
      <button type="submit" (click)="getLocations()" class="btn btn-primary btn-lg" style="background-color:#aeeaae;color:black">  Get Locations</button>
    </div>
  </form>
  <ul class="list-group">
      <ul *ngFor="let location of locations" class="list-group">
        <li class="list-group-item"> <strong>Alias:</strong> {{location.alias}}</li>
        <li class="list-group-item"> Latitude: {{location.latitude}}</li>
        <li class="list-group-item"> Longitude: {{location.longitude}}</li>
      </ul>
  </ul>
</div>-->
<h2 align="center"> Locations </h2>
<ngui-map zoom="2" minZoom="2" class="harta" (click)="onClick($event)">
   <marker (click)="clicked($event, location.alias)" *ngFor="let location of locations" [position]=[location.latitude,location.longitude]></marker>
   <!--<marker *ngIf="latitude!=null && longitude!=null" [position]=[latitude,longitude]></marker>-->
      <info-window id="iw" >
        <h1 style="color:black">
          {{alias2}}
        </h1>
        <!--<button (click)="hideMarkerInfo()">Hide Info</button>-->
      </info-window>
   
</ngui-map>
<!--<table>
  <tr>
    <th>Username</th>
    <th>Location</th>
    <th>Delete location</th>
  </tr>

  <tr>
    <th><form submit="editUsername()">
      <input type="text" value="Dan">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th><form submit="editLocation()">
      <input type="text" value="Paris">
      <input type="submit" value="✓" color="green">
    </form>
    </th>
    <th>
      <button (click)="deleteLocation(users.text)">X</button>
    </th>
  </tr>

  <tr>
  <th><form submit="editLocation()">
    <input type="text" value={{users.text}}>
    <input type="submit" value="✓" >
  </form>
  </th>
  <th><form submit="editLocation()">
    <input type="text" value={{locations.text}}>
    <input type="submit" value="✓">
  </form>
  </th>
  <th>
    <button (click)="deleteLocation(users.text)">X</button>
  </th>
</tr>
</table>-->
